<div class="nav-links">
  <a href="/" data-astro-prefetch="tap">Home</a>
  <a href="/about" data-astro-prefetch="hover">About</a>
  <a href="/blog" data-astro-prefetch="viewport">Blog</a>
  <a href="/tags" data-astro-prefetch="load">Tags</a>
  <a href="/words" data-astro-prefetch="load">Words</a>
</div>
